.eventmanagement {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 768px;
}

.em_container {
  width: 50vw;
  height: 42vh;
  background-color: #0e0e0ef3;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px grey;
  margin: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 90%;
  height: 100%;
}

.formHeader {
  font-weight: 500;
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}

.eventName {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.eventName input {
  background-color: transparent;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 5px;
  color: white;
  background-color: transparent;
}

.eventName input::placeholder {
  color: white;
}

.eventName input:focus {
  outline: none;
}

.eventDetails {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.eventDetails input {
  width: 20%;
  height: 20px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #fff;
  color: white;
}

select option {
  background-color: black;
}

.eventDetails .eventLocation {
  margin-right: 55px;
}

.eventDetails input::placeholder {
  color: white;
}

.eventDetails input:focus {
  outline: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: white;
}

.eventDetails select {
  width: 20%;
  height: 25px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #fff;
  border-color: white;
  margin-right: 55px;
  color: white;
}

.eventDescription {
  width: 100%;
  height: 125px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.eventDescription .descriptionBox {
  background: white;
  width: 150%;
  height: 100px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #fff;
  border-color: white;
  color: white;
  text-align: top;
}

.eventDescription textarea:focus {
  outline: none;
}

.eventDescription textarea::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
  color: white;
}

.em-submit {
  height: 10%;
  width: 100%;

  display: flex;
  justify-content: right;
  align-items: center;
}

.button {
  background-color: #ffffff00;
  font-size: 15px;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: #00000000 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em;
}

.me_container {
  width: 50%;
  height: 45%;
  background-color: #0e0e0ef3;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px grey;
  margin: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meform_container {
  width: 90%;
  height: 100%;
}

.me_header {
  width: 100%;
  font-weight: 500;
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.edit_button {
  background-color: white;
  font-size: 25px;
  margin: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.me_details {
  color: white;
}

.en_container {
  width: 100%;
  gap: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: left;
}

.formEditHeader {
  font-weight: 500;
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exitButton {
  background-color: red;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
