
.notification-btn {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}


#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
}


.notification {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.notification.show {
    opacity: 1;
}

.notification p {
    margin: 0;
    font-size: 16px;
}

.notification-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.view-details-btn {
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    color: black;
}


.notification.exit {
    opacity: 0;
    transition: opacity 0.3s ease;
}