.reports {
  font-family: Helvetica;
  display: flex;
  width: 1920px;
  height: 768px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.reportsContainer {
  width: 50vw;
  height: 70vh;
  border-radius: 10px;
  background-color: #0e0e0ef3;
  box-shadow: 0px 5px 10px 2px grey;
}

.reportTabs {
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 2px;
  width: 50vw;
  height: 10vh;
  gap: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px grey;
  color: white;
}

.placeholderContainer {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 20px;
  width: 50vw;
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.volunteerReport {
  font-family: "Courier New", Courier, monospace;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.volunteerTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.volunteerTable th,
.volunteerTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.volunteerTable tr {
  border: 1px solid #ddd;
}

.volunteerTable td {
  color: white;
}

.volunteerTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.eventReports {
  font-family: "Courier New", Courier, monospace;
}

.eventTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.eventTable th,
.eventTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.eventTable tr {
  border: 1px solid #ddd;
}

.eventTable td {
  color: white;
}

.eventTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.volunteerReportTableContainer {
  height: 48vh;
  padding: 2vw;
  width: 46vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventReportsContainer {
  height: 48vh;
  padding: 2vw;
  width: 46vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.reportsPagination {
  width: 50vw;
  height: 3vh;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
