.form-header {
  text-align: center;
}

.profile-management {
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  width: 1920px;
  height: 768px;
}

.container {
  text-align: center;
  margin: 5px;
  font-size: 12px;
  background-color: white;
}

.profile-title {
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  padding: 15px;
  border: none;
}

.profile-details {
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}

.profile-input {
  margin: auto;
  font-family: Helvetica;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  width: 80%;
  color-scheme: dark;
}

.button {
  background-color: black;
  color: white;
  width: 8.5em;
  height: 2.9em;
  border: black 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: blue;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}
