.volunteerHistory {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  width: 1920px;
  height: 768px;
}

.vh_container {
  width: 70vw;
  height: 70vh;
  border-radius: 10px;
  background-color: #0e0e0ef3;
  box-shadow: 0px 5px 10px 2px grey;
}

.vh_container_header_title {
  margin: 20px;
  font-weight: 500;
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}

.vh_eventList {
  margin: 20px;
}

.vh_table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}

.vh_table th,
.vh_table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.vh_table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.vh_table td {
  color: white;
}

.pagination {
  position: absolute;
  top: 660px;
  left: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previousButton {
  margin-right: 20px;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.pageNumber {
  font-size: 20px;
  color: white;
}

.nextButton {
  margin-left: 22px;
  margin-top: 9px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
